@font-face {font-family: Montserrat; src: url(../../docs/mon.ttf);} *:focus {outline: none;}
html, body{font-family: 'Montserrat'; text-decoration: none;}
.contentdemoBasicUsage md-content {height: 900px;}

#navbar{
  background: #000;
  position: fixed;
  width: 100%;
  /* opacity: 0.8; */
  z-index: 3;
  height: auto;
}

#icon-logo{
  background: url(../../imgs/svg/logo.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: contain;
  width: 100%;
  height: auto;
  background-position: left;
}

#nav-menu-index{
  background: #EE4656;
}

#boton-borde {
  background: #EE4353;
  margin-top: 15px;
  margin-left: 5px;
}

#boton-menu {
  background: #EE4353;
  margin-top: 15px;
  margin-left: 5px;
}

#icon-menu {
  width: 27px;
  margin-top: 14px;
  margin-left: 0px;
}

#img-site-panel{
  width: 50px;
  margin-top: 4px;
  position: absolute;
  margin-left: 7px;
}

#text-site-panel-menu{
  margin-top: 24px;
  margin-left: 60px;
  letter-spacing: 1px;
  color: #FFF;
  font-family: 'Montserrat';
  position: absolute;
}

#close-btn{
  margin-left: 274px;
  margin-top: -3px;
}

#icon-close{
  width: 18px;
}

.links-panel{
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
}

#facebook-panel{
  width: 15px;
}

#twiter-panel{
  width: 15px;
}

#heart-panel{
  width: 15px;
}

.md-subheader.md-default-theme, .md-subheader {
  color:#EE4353;
  background:#000;
}
md-sidenav.md-default-theme, md-sidenav, md-sidenav.md-default-theme md-content, md-sidenav md-content {
  background:#000;
}

/*  STYLES ONLY FOR MODAL AND GRAPHICS*/

md-dialog md-dialog-content {
  background-color: #292929;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color:#EE4656;
  color: rgba(255,255,255,0.87);
}

#content-score .dep{
  color:#EE4656;
  font-weight: bold;
}

#content-score .sen{
  color:#FFF;
  font-weight: bold;
}

@keyframes animationParty {
  from {  max-width: 10%;
}
  to { max-width: 100%;}
}

#content-bars-score {
  text-align: center;
  max-width: 100%;
  animation-name: animationParty;
  animation-duration: 4s;
}

 .content-deputy{
  background: #ee4455;
  color: #FFF;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  border-radius: 2px;
}

.content-senator{
  background: #FFF;
  color: #ee4455;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  border-radius: 2px;
}

.content-guide-name{
  color: #FFF;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.content-name{
  color: #FFF;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-mc;
  animation-duration: 4s;
  text-align: left;
}

#content-imgs-state-score img {
  max-width: 45px;
  margin-top: 4px;
}

#content-imgs-party-score img{
  max-width: 45px;
  margin-top: 4px;
}
/*  */
@media only screen and (max-width: 768px) {
  #img-site-panel {
    margin-top: -3px;
  }
}
@media only screen and (max-width: 736px) {
  #img-site-panel{
    margin-top: -2px;
  }

  #text-site-panel-menu{
    margin-top: 18px;
  }
}

@media only screen and (max-width: 667px) {
  #img-site-panel{
    margin-top: -1px;
  }

  #text-site-panel-menu{
    margin-top: 19px;
  }

  #close-btn{
    margin-left: 274px;
    margin-top: -3px;
  }

  #icon-close{
    width: 25px;
  }

  .links-panel{
    color: #FFF;
    font-size: 12px;
  }
}

@media only screen and (max-width: 599px) {
  #img-site-panel {
    margin-top: 5.5px;
    margin-left: 0px;
  }

  #text-site-panel-menu {
    margin-top: 27px;
    margin-left: 50px;
  }

  #icon-menu {
    width: 30px;
    margin-top: 5px;
    margin-right: 5px;
  }

  #icon-logo {
    margin-left: 5px;
  }

  #content-imgs-party-score img {
    max-width: 30px;
    margin-top: 12px;
  }

  #content-imgs-state-score img {
    max-width: 30px;
    margin-top: 4px;
  }

  .content-name {
    font-size: 12px;
  }
}

@media only screen and (max-width: 320px) {
  #close-btn {
    margin-left: 218px;
  }
}
