
<md-dialog aria-label="about" ng-cloak>
    <md-toolbar>
      <div id="toolbar-score-party"  class="md-toolbar-tools">
        <span class="title-score-party">Borde Score <br hide show-xs>
        ¿Como Funciona?</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="imgs/svg/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" src="imgs/jpg/about.jpg">
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      <div flex-xs="25">
        <img class="icon-dwn-dialog" src="imgs/svg/download_logo.svg"> <span class="text-icon-dialog">CSV<span>
      </div>
      <div flex-xs="75">
        <md-button href="http://bordepolitico.com/infografia-borde-score/" target="_blank" md-autofocus>
          Como funciona
        </md-button>
        </div>

      <md-button ng-click="answer('not useful')" >
      Cerrar
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions> -->
</md-dialog>
