<!doctype html>
<html>
<head>
  <title >Borde Score</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8"></meta>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.css">
  <link rel="stylesheet" href="../css/others/headNavPanel.css">
</head>
<body ng-app="myApp">
  <!-- Begin Code Application -->
  <!-- <h1 ng-controller="searchLegislatorController">Perfil de {{nameProfile}}</h1> -->
  <!-- Begin Code BarNavigation -->
  <div layout-xs="column" layout-sm="column" layout-md="column" layout-gt-md="column" layout-gt-lg="column" layout-lg="column" layout-xl="column">
    <div id="navbar" layout-xs="row" layout-sm="row" layout-md="row" layout-gt-md="row" layout-gt-lg="row" layout-lg="row" layout-xl="row">
       <div flex-xs="0" flex-sm="0" flex-md="5" flex-lg="10" flex-xl="10"  >
       </div>
       <div flex-xs="100" flex-sm="100" flex-md="90" flex-lg="80" flex-xl="80" >
          <div layout-md="row" layout-gt-md="row" layout-lg="row" layout-gt-lg="row" layout-xl="row" layout-xs="row" layout-sm="row"  >
            <div onclick="location.href='#/!'" flex-xs="25" flex-sm="25" flex-md="20" flex-gt-md="20" flex-gt-lg="20" flex-lg="20" flex-xl="20" id="icon-logo">
            </div>
            <div flex-xs="50" flex-sm="50" flex-md="60" flex-gt-md="60" flex-gt-lg="60" flex-lg="60" flex-xl="60" >
              <div layout-xs="row" layout-sm="row" layout-md="row" layout-lg="row" layout-gt-md="row" layout-xl="row">
              </div>
            </div>
            <div flex-xs="25" flex-sm="25" flex-md="20" flex-gt-md="20" flex-gt-lg="20" flex-lg="20" flex-xl="20" style="text-align:center;">
              <md-button hide-xs id="boton-borde" ng-cloak="" ng-controller="OpenBordePanel" ng-click="openBordePanel()" aria-label="Menu" class="sidenavdemoBasicUsage md-fab">
                <img id="icon-menu" src="../imgs/svg/logo_b.svg">
               </md-button>
               <md-button hide-xs id="boton-menu" ng-cloak="" ng-controller="PanelCtrl" class="sidenavdemoBasicUsage md-fab"  aria-label="Menu"  ng-click="toggleRight()" ng-hide="isOpenRight()">
                 <img id="icon-menu" src="../imgs/svg/menu.svg"  >
               </md-button>
               <img hide show-xs id="icon-menu" src="../imgs/svg/menu-responsive.svg" ng-controller="PanelCtrl" class="sidenavdemoBasicUsage" ng-click="toggleRight()" ng-hide="isOpenRight()">
            </div>
          </div>
       </div>
       <div flex-xs="0" flex-sm="0" flex-md="5"  flex-lg="10"  flex-xl="10">
       </div>
     </div>
    </div>
  <!-- End Code BarNavigation -->

  <!-- Begin Code PanelMenu -->
  <md-sidenav  class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" style="position:fixed;">
    <!--panel section head-->
    <md-toolbar flex="row"  id="nav-menu-index" >
      <div>
        <img ng-controller="OpenBordePanel" ng-click="openBordePanel()"  id="img-site-panel" src="../imgs/png/logo_borde.png">
        <span flex id="text-site-panel-menu">Menú Principal</span>
          <md-button id="close-btn" ng-controller="RightCtrl" ng-click="close()" class="md-icon-button md-accent" aria-label="Favorite">
            <img id="icon-close" src="../imgs/svg/close.svg">
          </md-button>
      </div>
    </md-toolbar>
    <!--panel section content-->
    <md-content ng-controller="RightCtrl" layout-padding="">
      <md-subheader class="md-no-sticky">Redes Sociales</md-subheader>
      <div style="text-align:center;" ng-cloak=""  >
        <md-button ng-controller="OpenFacebookController" ng-click="openFace()" ng-cloak="" aria-label="Facebook" class="md-fab md-primary md-hue-2 md-mini test-tooltip">
          <md-tooltip hide-xs md-direction="top">Borde Politico</md-tooltip>
          <img id="facebook-panel" src="../imgs/svg/facebook.svg" aria-label="Facebook">
        </md-button>
        <md-button ng-controller="OpenTwitterController" ng-click="openTwit()" ng-cloak=""  aria-label="Twitter" class="md-fab md-primary md-hue-2 md-mini test-tooltip">
          <md-tooltip hide-xs md-direction="top">@BordePolitico</md-tooltip>
          <img id="twiter-panel" src="../imgs/svg/twitter.svg" aria-label="Twitter">
        </md-button>
        <md-button  aria-label="Liked" class="md-fab md-primary md-hue-2 md-mini test-tooltip">
          <md-tooltip hide-xs md-direction="top">Me Gusta</md-tooltip>
          <a href="https://twitter.com/share?hashtags=BordeScore%2CBordePolitico&text=<3%20Borde Score&via=appbordepolitico.com" target="_blank">
            <img id="heart-panel" src="../imgs/svg/heart.svg" aria-label="Me gusta">
          </a>
        </md-button>
      </div>
      <md-divider ></md-divider>
      <md-subheader id="subheaderDirectorio" class="md-no-sticky">Directorio Legisladores</md-subheader>
      <md-list style="cursor:pointer;" ng-controller="PanelContentIndexController" ng-cloak flex>
        <md-list-item id="NoHover" layout="row" ng-cloak class="md-3-line" >
          <img id="icon-panel" src="../imgs/svg/logo_borde.svg" ng-cloak class="md-avatar" />
          <div class="md-list-item-text" layout="column">
            <a class="links-panel" href="#!deputys">Diputados</a>
          </div>
        </md-list-item>
        <md-list-item id="NoHover" layout="row" ng-cloak class="md-3-line" >
          <img id="icon-panel" src="../imgs/svg/logo_borde.svg" ng-cloak class="md-avatar" />
          <div class="md-list-item-text" layout="column">
            <a class="links-panel" href="#!senators">Senadores</a>
          </div>
        </md-list-item>
        <md-list-item id="NoHover" layout="row" ng-cloak class="md-3-line" >
          <img id="icon-panel" src="../imgs/svg/logo_borde.svg" ng-cloak class="md-avatar" />
          <div class="md-list-item-text" layout="column">
            <a class="links-panel" href="../index.html">Ambas Camaras</a>
          </div>
        </md-list-item>
      </md-list>
      <md-subheader class="md-no-sticky">Otros Sitios Borde</md-subheader>
      <md-list ng-controller="PanelContentIndexController" ng-cloak flex>
        <md-list-item id="NoHover" ng-href="{{item.address}}"  target="_blank"  class="md-3-line" ng-repeat="item in linksDirectoryOtherSites" ng-click="null">
          <img id="icon-panel" ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <span class="links-panel">{{ item.who }}</span>
          </div>
        </md-list-item>
      </md-list>
      <md-divider></md-divider>
      <md-subheader id="NoHover" class="md-no-sticky">Contacto</md-subheader>
      <md-list ng-controller="PanelContentIndexController" ng-cloakflex>
        <md-list-item class="md-3-line" ng-repeat="item in phones" ng-click="null">
          <img id="icon-panel" ng-src="{{item.options.face}}?{{$index}}" class="md-avatar" alt="{{item.type}}" />
          <div class="md-list-item-text" layout="column">
            <a href="tel:{{ item.number }} " class="links-panel">{{ item.number }}</a>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <!-- End Code PaghnelMenu -->
  <!-- End Code Application -->


  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.6/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.js"></script>

  <!-- Your application bootstrap  -->
  <!-- <script src="js/apiCalls/legislators/callLegApi.js"></script>
  <script src="js/functions/routes.js"></script>
  <script src="js/functions/navHeadPanel.js"></script> -->
  <script src="../js/apiCalls/legislators/callProfileApi.js"></script>
  <script src="../js/functions/navHeadPanel.js"></script>


</body>
</html>
